@import '../../scss/abstracts/variables';

.container {
    max-width: 120rem;
    min-height: 50rem;
    margin: 8rem auto;
    background-color: $color-grey-light-1;
    box-shadow: 0 2rem 6rem rgba(0,0,0, .3);

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }

}